@import url('http://fonts.cdnfonts.com/css/cerebri-sans');

body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Cerebri Sans', sans-serif;
}

main {
    padding: 15px;
    opacity: 1;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font: normal normal normal 25px/31px Cerebri Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 40px;
}

.h1 {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 40px;
    font-weight: bolder;
}

form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wyniki {display: none;}

/* input main */

#wpisz {
    text-align: center;
    border: none;
    font-size: 15px;
    margin-bottom: 40px;
    border-bottom: 1px #1a1a1a54 solid;
    opacity: .6;
    padding: 5px 0;
    width: 100%;
}

#wpisz:focus {
    color: #2ECC71;
    border: #2ECC71 solid 1px;
}

#wpisz:focus::-webkit-input-placeholder {
    color: transparent;
}

.w {
    width: 100%;
    text-align: center;
}

/* label */

select {
    width: 50%;
    margin-right: 5px;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px;
    opacity: 0.5;
}

#UlgaS {
    width: 40%;
}


.l > label,
.c > label {
    margin-right: 5px;
}

.l > img,
.c > img {
    margin-right: 15px;
}

.l {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

label {
    font-size: 15px;
    color: #1A1A1A;
}

img {
    height: 20px;
    width: 20px;
    opacity: 0.5;
}

a{
    height: 20px;
    padding: 5px;
}

/* Checkbox */

.check {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.c {
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.c:last-child {
    margin-bottom: 10px;
}

/* Button */

button {
    background: #2ECC71 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    text-align: center;
    font: normal normal normal 20px/25px Cerebri Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 5px 10px;
    cursor: pointer;
}



/* question mark window */


.wrench {
    opacity: 1;
    width: 30px;
    height: 30px;
}

.list {
    margin-left: 10px;
    margin-bottom: 10px;
}

#popped-q {
    display: none;
    flex-direction: column;
    margin: 0 15px;
}

.nav-q {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav-q > h3 {

} */

.nav-q > a {
    cursor: pointer;
    height: 100%;
}

.x {
    background-color: #2ECC71;
    border-radius: 25%;
    padding: 6px 0;
    padding-right: 3px;
    opacity: 1;
    width: 46px;
    height: 40px;
}

/* wyniki */

#powtorz {
    display: none;
}